services:
  nextapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextapp
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000 
      - NEXT_PUBLIC_API_URL=https://mejoresescuelasmexico.infinitecmexico.com/api
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
    networks:
      - app-network
    depends_on:
      - nextapp

networks:
  app-network:
    driver: bridge